<% layout("layouts/boilerplate") %>

<div class="container text-center mt-5">
  <h2 class="text-success">🎉 Application Submitted Successfully!</h2>
  <p>We will get back to you soon.</p>

  <a href="/apply/Home" class="btn btn-primary mt-3">Back to Home</a>
</div>
